EIDSS/eidss.webclient/Service References/EhsService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50120/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/eidss.model.Model.UploadEhs" />
  <xs:element name="ValidateData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientJson" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventJson" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idfsUploadEhs" type="xs:long" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/eidss.model.Model.UploadEhs" minOccurs="0" name="ValidateDataResult" nillable="true" type="q1:ValidateDataResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUploadedData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idfsUploadEhs" type="xs:long" />
        <xs:element minOccurs="0" name="idfPersonEnteredBy" type="xs:long" />
        <xs:element minOccurs="0" name="idfUserID" type="xs:long" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUploadedDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/eidss.model.Model.UploadEhs" minOccurs="0" name="SaveUploadedDataResult" nillable="true" type="q2:SaveDataResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>